body{text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-image: url();
    
}

#u{
    border: 30px solid royalblue;
    margin: 50px 15px 0px 15px;
    width: 500px;
}
h1{
    color: royalblue;
    text-align: center;
}
#body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
td{ 
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 3px solid black;
}
table{ 
    background-color: royalblue;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 3px solid black;
}
th{ color: royalblue;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 3px solid black;
}

.video video{
    align-items: center;
    border: 30px solid royalblue;
    width: 700px;
}
.doubbleborder{
        border: 30px solid black;
        margin: 0px auto 0px ;
        width: 760px; 
        height: 453px;
        padding: 0px ;
    }

ul{
    list-style: square;
}
ol{ 
    width: 250px;
    font-weight: bolder;
    text-align: left;
    margin: 0 auto 40px; 
    border: 10px solid rgb(50, 89, 197);
    padding: 5px 0px 20px 50px;
}
.ep1{
    border: 10px solid rgb(50, 89, 197);
    margin: 0 auto;
    width: 200px;
}
a{
    text-decoration: none;
    
}
a:link {
    text-decoration: rgb(99, 99, 211);
}
a:visited {
    color: rgb(93, 93, 240);
}
a:hover {
    text-decoration: underline;
}
#submit{
    box-shadow: 0px 5px 10px royalblue;
    margin-top: 20px;
    color: royalblue;
    width: 100px;
    height: 50px;
    font-size: 25px;
}
#select{
    color: royalblue;
    font-size: 20PX;
}
#comments{
    font-size: 20px;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
    outline-color: black;
    border-style:  solid;
    border-color: royalblue;
    border-width: 1px;

}
#comments:focus {
    outline: none !important;
    border:1px solid rgb(68, 0, 255);
    box-shadow: 0 0 20px #719ECE;
}
.container{
    width: auto;
    display: flex;
    margin: 0  auto;
    align-items: center;
    padding: none;
    
}
#epOne{
    margin: 20px auto ;
    padding: none;
    
}
#epTwo{
    margin: 20px auto ;
    padding: none;
    
}
#eptr{
    margin: 20px auto ;
    padding: none;
    
}
