#u{
    border: 30px solid royalblue;
    margin: 50px 15px 0px 15px;
    width: 500px;
}
h1{
    color: royalblue;
    text-align: center;
}
#body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
td{ 
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 3px solid black;
}
table{ 
    background-color: royalblue;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 3px solid black;
}
th{ color: royalblue;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 3px solid black;
}

.video video{
    align-items: center;
    border: 30px solid royalblue;
    margin: 50px;
    width: 700px;
}
ul{
    list-style: square;
}
.ep1{
    border: 20px solid rgb(50, 89, 197);
    margin: ;
    width: 300px;
}
a{
    text-decoration: none;
    
}
a:link {
    text-decoration: blue;
}
a:visited {
    color: blue;
}
a:hover {
    text-decoration: underline;
}
#submit{
    margin-top: 20px;
    color: royalblue;
    width: 100px;
    height: 50px;
    font-size: 25px;
}
#select{
    color: royalblue;
    font-size: 20PX;
}
#comments{
    font-size: 20px;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


