body{
    margin: 100px;
}
.search{
    background-color: rgb(241, 241, 241);
    font-size: 20px;
    width: 200px;
    color: rgb(65, 179, 150);
    padding: 5px ;
    border-radius: 30px;
    border-color: rgb(65, 179, 150);
    margin-bottom: 20px;
    border-style: solid;
}
.plus{
    border-radius: 50%;
    background-color: rgb(65, 179, 150);
    color: white;
    width: 40px;
    height: 40px;
    border-color: rgb(65, 179, 150);
    outline-color: rgb(65, 179, 150);
    font-size: 25px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-style: solid;
}
.create{
    color: white;
    width: 200px;
    font-size: 20px;
    background-color: royalblue;
    border-color: black;
    padding: 5px 15px;
    outline-color: black;
    box-shadow: 5px 5px  rgb(0, 0, 0);
    border-style: solid;
    
}