*{
    margin: 0;
    padding: 0;
}

#wrapper{
    margin: 20px auto;
    width: 1000px;
}

.nav{
    color: white;
    background-color: rgb(70, 66, 66);
    display: flex;
    align-items: ce;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 900px;
    height: 40px;
    padding-left: 20px;
    
}
#nav-links{    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
a{
    text-decoration: none;
    text-align: right;
    color: white;

}
li{
    font-size: 15px;
    list-style: none;
    margin: 20px;
}
.nav-title{
    margin-right: auto;
}
body{font-family: 'Roboto';
    
}
button{
    box-shadow: 2px 2px  rgb(0, 0, 0);
    width: 70px;
    height: 25px;
    border-radius: 1px;
    color: white;
    background-color: rgb(37, 164, 238);
    border-color: black;
    border-style: solid;
}
.active{
    font-weight: bolder;
}



